extends ../../pug/_layout



block css
    +css("CSS Normalize")
    +css("Dialog")



block content

    style= " *:focus { outline: 8px dashed black; } figure { display: inline-block; width: 10%; padding-bottom: 10%; background: lightblue;}"
    
    div(role="grid")
        div(role="row")
            figure(tabindex=0 role="gridcell" aria-labelledby='label')

            - for (let i = 0; i < 50; i++)
                figure(tabindex=-1  role="gridcell" aria-labelledby='label')


block js
    +script('Polyfill')
    +script('Class Iterator')
    +script('Class Queue')
    +script('Class Rectangle')
    +script('Speech Queue')
    +script('Autofocus')
    +script('Dialog')
    +script('two-dimensional-navigation')
    script(src="two-dimensional-navigation/program.js")