# jade files are ignored to give preference to html files.
*.jade

# VS Code stuff such as debuggin settings
/.vscode

# JavaScript Code coverage by Istanbul
/components/*/coverage

# Node stuff
/node_modules