#dialog {
  display: flex;
  padding: 24px calc(12px  +  148  * ((100vw -  320px ) / 880 )) 0;
  background: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  overflow-y: scroll;
}
#dialog-description {
  white-space: pre-line;
}
#dialog-window {
  background: white;
  padding: 32px 32px 40px;
  margin: auto;
  position: relative;
  align-self: center;
  flex: 0 1 650px;
}
#temporary-document-container {
  position: relative;
  z-index: 0;
}
