<!DOCTYPE html>
<html lang="en">

<head>
    <title>class Node</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet">
    <!-- loads test framework -->
    <script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>
    <!-- loads a library assertion -->
    <script src="https://cdn.rawgit.com/Automattic/expect.js/0.3.1/index.js"></script>
    <!-- do not remove the following <script> -->
    <script>
        mocha.setup('bdd');
    </script>
    <!-- loads code to be tested. Add more script tags if necessary -->
    <script src="class Node.js"></script>
</head>

<body>
    <!-- do not remove the following <div> -->
    <div id="mocha"></div>
    <script>
        (function () {
            'use strict';

            const root = new ventana.Node();
            const node = new ventana.Node();

            describe('A group of unit tests!', function () {
                it('can append a child', function () {
                    root.appendChild(node);
                    expect(root.childNodes[0]).to.be(node);
                });

                it('can retrieve its first child', function () {
                    expect(root.firstChild).to.be(node);
                });

                it('can retrieve its last child', function () {
                    expect(root.lastChild).to.be(node);
                });
                
                it('can retrieve its parent', function () {
                    expect(root.parentNode).to.be(null);
                    expect(node.parentNode).to.be(root);
                });

                it('can retrieve its next sibling', function () {
                    const sibling = new ventana.Node();
                    expect(node.nextSibling).to.be(null);
                    root.appendChild(sibling);
                    expect(root.nextSibling).to.be(null);
                    expect(node.nextSibling).to.be(sibling);
                });

                it('can retrieve its previous sibling', function () {
                    const sibling = root.lastChild;
                    expect(sibling.previousSibling).to.be(node);
                    expect(root.nextSibling).to.be(null);
                    sibling.remove();
                });

                it('can remove a child', function () {
                    root.removeChild(node);
                    expect(root.childNodes.length).to.be(0);
                });
            });
        }());
    </script>
    <!-- do not remove the following <script> -->
    <script>
        mocha.run();
    </script>
</body>

</html>