<!DOCTYPE html>
<html lang="en">

<head>
    <title>class Node</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css" rel="stylesheet">
    <!-- loads test framework -->
    <script src="https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.js"></script>
    <!-- loads a library assertion -->
    <script src="https://cdn.rawgit.com/Automattic/expect.js/0.3.1/index.js"></script>
    <!-- do not remove the following <script> -->
    <script>
        mocha.setup('bdd');
    </script>
    <!-- loads code to be tested. Add more script tags if necessary -->
    <script src="class Node.js"></script>
</head>

<body>
    <!-- do not remove the following <div> -->
    <div id="mocha"></div>
    <script>
        (function () {
            'use strict';

            const parent = new ventana.Node();
            const child = new ventana.Node();
            const sibling = new ventana.Node();

            describe('A group of unit tests!', function () {
                it('should append a child', function () {
                    expect(parent.childNodes.length).to.be(0);
                    expect(parent.hasChildNodes()).to.be(false);
                    parent.appendChild(child);
                    expect(parent.childNodes[0]).to.be(child);
                    expect(parent.hasChildNodes()).to.be(true);
                });

                it('should retrieve its first child', function () {
                    expect(parent.firstChild).to.be(child);
                    expect(child.firstChild).to.be(null);
                    expect(sibling.firstChild).to.be(null);
                });

                it('should retrieve its last child', function () {
                    expect(parent.lastChild).to.be(child);
                    expect(child.lastChild).to.be(null);
                    expect(sibling.lastChild).to.be(null);
                });
                
                it('should retrieve its parent', function () {
                    expect(parent.parentNode).to.be(null);
                    expect(child.parentNode).to.be(parent);
                });

                it('should retrieve its next sibling', function () {
                    expect(parent.nextSibling).to.be(null);
                    expect(child.nextSibling).to.be(null);
                    parent.appendChild(sibling);
                    expect(child.nextSibling).to.be(sibling);
                });

                it('should retrieve its previous sibling', function () {
                    expect(parent.previousSibling).to.be(null);
                    expect(child.previousSibling).to.be(null);
                    expect(sibling.previousSibling).to.be(child);
                });

                it('should find a node in the subtree of another node', function() {
                    var node, nodes;
                    node = parent.find(function (node) { return node === parent });
                    expect(node).to.be(parent);
                    node = parent.find(function (node) { return node === child });
                    expect(node).to.be(child);
                    node = parent.find(function (node) { return node === sibling });
                    expect(node).to.be(sibling);
                    node = child.find(function (node) { return node === parent });
                    expect(node).to.be(null);

                    nodes = parent.findAll(node => node === child || node === sibling);
                    expect(nodes.length).to.be(2);
                    expect(nodes[0]).to.be(child);
                    expect(nodes[1]).to.be(sibling);
                    nodes = child.findAll(node => node === parent || node === sibling);
                    expect(nodes.length).to.be(0);
                });

                it('should remove a child', function () {
                    expect(parent.childNodes.length).to.be(2);
                    parent.removeChild(sibling);
                    expect(parent.childNodes.length).to.be(1);
                    expect(sibling.parentNode).to.be(null);
                });

                it('should remove itself', function () {
                    expect(parent.childNodes.length).to.be(1);
                    child.remove();
                    expect(parent.childNodes.length).to.be(0);
                    expect(parent.hasChildNodes()).to.be(false);
                    expect(child.parentNode).to.be(null);
                });
            });
        }());
    </script>
    <!-- do not remove the following <script> -->
    <script>
        mocha.run();
    </script>
</body>

</html>